site_name: Smart Hydroponic Documentation
site_url: https://project-iot-fik.github.io/smart-hydroponic/
use_directory_urls: false

theme:
  name: material
  logo: ./assets/logo.png
  favicon: ./assets/favicon.ico
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
