node_modules
logs
*.log
package-lock.json
Dockerfile*
docker-compose*.yml
README.md
.git
.gitignore
.env*
*.swp
*.bak
npm-debug.log*
pnpm-debug.log*
__pycache__/
.ruff_cache/
.venv/
test/
.pytest_cache/
*.pyc
