HOST=
HOSTDEV=
PORT_WS=
PORT=
COAP_PORT=

PGHOST=
PGUSER=
PGDATABASE=
PGPORT=
PGPASSWORD=

DATABASE_URL=

JWT_SECRET=
JWT_EXPIRES_IN=

SUPERUSER_USERNAME=
SUPERUSER_EMAIL=
SUPERUSER_PASSWORD=
SUPERUSER_ROLE=