name: "CI"

on:
  push:
    branches: [ dev-python ]
  pull_request:
    branches: [ dev-python ]

jobs:
  build:
    if: github.repository == 'IoT-Smart-Hydroponic/smart-hydroponic'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.14

      - name: Install dependencies
        run: uv sync --dev

      - name: Check code formatting
        run: uv run ruff format --check .

      - name: Check code linting
        run: uv run ruff check .